<!DOCTYPE html>
<html>
  <head>
    <title>Ishgal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app='mainModule'>
    <div class='container'>
    <%= render 'layouts/navbar' %>
    {{2+2}}
    <%= yield %>
  </div>
  </body>
</html>
