<!DOCTYPE html>
<html>
  <head>
    <title>Ishgal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app='mainModule'>
    <%= render 'layouts/navbar' %>
    {{2+2}}
    <!-- <nav ng-include='app\layouts\navbar.html'>
    </nav> -->
    <%= yield %>
  </body>
</html>
